@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');
html,
body {
  height: 96%;
  width: 99.6%;
  background-color: black;
}

.text-large {
	font-size: 150%;
}

.page-holder {
	min-height: 100vh;
}

.bg-cover {
	background-size: cover !important;
}

.border-2 {
	border-width: 2px !important;
}

.dropdown-toggle {
  position: relative;
}

.dropdown-toggle::after {
  position: absolute;
  right: 20px;
  bottom: 45%;
}

.user-dropdown .dropdown-menu {
  left: 50% !important;
  transform: translateX(-50%) !important;
  top: 100% !important;
}
